/*Document Styling*/
html body {
  margin: 0px;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*{
  font-family: sans-serif;
}

.cf {
  clear: both;
}

body {
  background-color: #98A5AA;
}

/*Product Card Styling*/
.product-card {
  width: 640px;
  background-color: #E9F2EF;
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.product-card::after{
  content: "";
  display: table;
  clear: both;
}

.product-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*opacity: 0.75;*/
}

.img-caption {
  position: absolute;
  margin-top: -50px;
  margin-left: 200px;
  color: #96CBF7;
  font-size: 28px;
}

.product-info{
  width: 600px;
}

.product-title {
  color: #6A7372;
  font-size: 30px;
  font-weight: bold;
  float: left;
}

.product-price {
  color: #96CBF7;
  font-size: 30px;
  font-weight: bold;
  float: right;
}

.product-description {
  color: #6A7372;
  clear: both;
}

.checkout {
  padding-top: 40px;
}

table {
  float: left;
  color: #6A7372;
  font-weight: normal;
  border-collapse: collapse;
  height: 40px;
}

td {
  border-style: solid;
  border-width: 1px;
  border-color: #6A7372;
  width: 50px;
  height: 18px;
  text-align: center;
}

#red {
  background-color: firebrick;
}

#red:hover{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  opacity: .75;
  cursor: pointer;
}

#yellow {
  background-color: gold;
}

#yellow:hover{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  opacity: .5;
  cursor: pointer;
}

#blue {
  background-color: steelblue;
}

#blue:hover{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  opacity: .75;
  cursor: pointer;
}

#green {
  background-color: mediumspringgreen;
}

#green:hover{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  opacity: .5;
  cursor: pointer;
}

#black {
  background-color: black;
}

#black:hover{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  opacity: .5;
  cursor: pointer;
}

.add-to-cart {
  color: #6A7372;
  background-color: #96CBF7;
  padding: 10px;
  width: 120px;
  float: right;
  text-align: center;
  margin: 0px;
}

.add-to-cart:hover{
  color: white;
  background-color: steelblue;
  cursor: pointer;
}
